@using Resources
@using Website.Areas.CMS.Models
@using Website.Common
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>System Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <link href="~/Content/CMS/Style/stylesheets/fonts.googleapis.com.css" rel="stylesheet" />
    <link href="~/Content/CMS/Script/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CMS/Script/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/CMS/Style/stylesheets/theme.css" rel="stylesheet" />
    <link href="~/Content/CMS/Style/stylesheets/premium.css" rel="stylesheet" />

    <script src="~/Content/CMS/Script/lib/jquery-1.11.1.min.js"></script>
    <script src="~/Content/CMS/Script/lib/jQuery-Knob/js/jquery.knob.js"></script>
    <script src="~/Content/CMS/Script/lib/bootstrap/js/bootstrap.js"></script>
    @{
        var user = (UserViewModel)HttpContext.Current.Session["User"];
        var ui = new UI();
        var lstLabel = ui.GetLabelForPage(user.LanguaeId, (int)Pages.Layout);
    }
</head>
<body class=" theme-blue">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="index.html">
                <span class="navbar-brand"><span class="fa fa-paper-plane"></span> Aircraft</span>
            </a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul id="main-menu" class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> @user.UserName
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="./">My Account</a></li>
                        @*<li class="divider"></li>
                            <li><a href="./">Users</a></li>
                            <li><a href="./">Security</a></li>
                            <li><a tabindex="-1" href="./">Payments</a></li>*@
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="~/CMS/Login/Logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
   
    <div class="sidebar-nav">
        <ul>
            @*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=User Management+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*@
            <li>
                <a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse">
                    <i class="fa fa-fw fa-user"></i>
                    @lstLabel.First(o => o.LabelKey == LabelResources.UserManagement).LabelName
                    <i class="fa fa-collapse"></i>
                </a>
            </li>
            @*-------------------------------------*@
            <li>
                <ul class="dashboard-menu nav nav-list collapse in">
                    <li>
                        <a href="#">
                            <span class="fa fa-caret-right"></span>
                            @lstLabel.First(o => o.LabelKey == LabelResources.UserList).LabelName
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <span class="fa fa-caret-right"></span>
                            @lstLabel.First(o => o.LabelKey == LabelResources.NewUser).LabelName
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-caret-right"></span>
                            @lstLabel.First(o => o.LabelKey == LabelResources.RoleManagement).LabelName
                        </a>
                    </li>
                </ul>
            </li>
            @*-------------------------------------*@
            <li>
                <a href="#" class="nav-header">
                    <i class="fa fa-fw fa-comment"></i> Faq
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>


    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
            color: #fff;
        }
    </style>

    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function () {
            $('.demo-cancel-click').click(function () { return false; });
        });

        $(function () {
            $(".knob").knob();
        });

        $(function () {
            var match = document.cookie.match(new RegExp('color=([^;]+)'));
            if (match) var color = match[1];
            if (color) {
                $('body').removeClass(function (index, css) {
                    return (css.match(/\btheme-\S+/g) || []).join(' ')
                })
                $('body').addClass('theme-' + color);
            }

            $('[data-popover="true"]').popover({ html: true });

        });

        $(function () {
            var uls = $('.sidebar-nav > ul > *').clone();
            uls.addClass('visible-xs');
            $('#main-menu').append(uls.clone());
        });
    </script>

</body>
</html>