<head>
    @model Website.Areas.CMS.Models.UserViewModel
    <meta charset="utf-8">
    <title>LOGIN SYSTEM</title>

    <!-- styles -->
    <link href="~/Areas/CMS/Script/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/CMS/Style/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Areas/CMS/Style/typica-login.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Areas/CMS/Script/backstretch.min.js"></script>


</head>

<body>
    <div class="container">
        <div id="login-wraper">
            <form class="form login-form">
                <legend>Sign in to <span class="blue">MyApp</span></legend>

                <div class="body">
                    <label>Username</label>
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    <label>Password</label>
                    @Html.TextBoxFor(m => m.PassWord)
                    @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "text-danger" })
                </div>
                <span>@Html.LabelFor(m=>m.Message)</span>
                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
                    </label>

                    <button type="submit" class="btn btn-success">Login</button>
                </div>

            </form>
        </div>

    </div>


</body>

</html>
<script>
    jQuery(document).ready(function ($) {

        $.backstretch([
          "/Content/images/bg1.png",
          "/Content/images/bg2.png"
        ], { duration: 3000, fade: 750 });

    });

</script>

